 *{
  margin: 4px;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(135deg, #e3f2fd, #f8f9ff);
    color: #333;
    min-height: 100vh;
    align-items: center;
    padding: 40px 5px;
}

h1{
     font-size: 38px;
    font-weight: 900;
    color: rgb(4, 11, 18);
    text-decoration:underline;
    margin-bottom: 35px;
    text-align: center;
}


h2{
    font-size: x-large;
     font-weight: 1000;
    color: #37474f;
    margin: 5px 0 8px;

}



div{
    width: 420px;
    max-width: 95%;
    background: rgba(169, 153, 153, 0.9);
    border-radius: 18px;
    padding: 18px 25px;
    margin-bottom: 22px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
    animation: floatUp 0.8s ease;
}


div:hover{
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 20px 45px rgba(0,0,0,0.2);
}

button{
     background: linear-gradient(135deg, #24406f, #00b0ff);
    color: #fff;
    border: #00b0ff;
    padding: 9px 10px;
    font-size: 15px;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.45);
    transition: all 0.3s ease;
}



button:hover{
    transform: scale(1.1);
    box-shadow: 0 18px 40px rgba(41,121,255,0.7);
}



.output{
    margin-top:10px;
    padding:10px;
    background:#f1f6ff;
    border-radius: 10px;
    width:100%;
    text-align:center;
    animation: fadeIn 0.6s ease;
}
